*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
db.sqlite3
db.sqlite3-journal
*.egg-info/
.installed.cfg
*.egg
MANIFEST
venv/
env/
.venv
.env
.DS_Store
*.sqlite3
db.sqlite3
/media/
.vscode/
.idea/
*.log
